
.header {
  max-width: 100%;
  background-color: #3F3D56;
}

.header ul {
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  color: #E6E6E6;
}

.header li a:hover {
  font-weight: bold;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .menu {
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .logo img{
    width: 300px;
  }
}
@media (max-width: 960px) and (min-width: 768px) {
  .header {
    font-size: 12px;
  }
  .logo img{
    width: 200px;
  }
}
h2{
  margin: 0;
  padding: 0;
}
